@use "../../sass/abstracts/" as *;

.footer {
  @include fixed($bottom: 0, $left: 0);
  width: 100%;
  border-top: 1px solid $grey_border;
}

.footer_texts {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;

  @include md {
    text-align: unset;
    @include flex(space-between, center);
    margin-left: calc($sidebar_width_md + $box_spacing_md);
    margin-right: $box_spacing_md;
  }

  @include lg {
    margin-left: calc($sidebar_width_lg + $box_spacing_md);
  }

  @include xl {
    margin-left: calc($sidebar_width_lg + $box_spacing_xl);
    margin-right: $box_spacing_xl;
  }

  p {
    font-size: 0.8rem;
  }
}