@use "../../sass/abstracts/" as *;

.header {
  padding: $box_spacing_sm;

  @include md { padding: $box_spacing_md; }
  @include xl { padding: $box_spacing_xl; } 
}

.nav {
  @include md { margin-top: 1rem; } 
}

.navlink, .navlink_about {
  margin-bottom: 0.5rem;
  overflow: hidden;

  &:nth-child(2){
    margin-bottom: 0;
  }

  &_about {
    font-weight: 600;
    font-size: 1.5rem;
    color: $grey_light;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    @include md {
      font-size: 2rem;
    }

    &:hover {
      color: $black_light;
    }
  }
  
  a {
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
    color: $grey_light;
    transition: all 200ms ease-in-out;

    @include md {
      font-size: 2rem;
    }

    &:hover {
      color: $black_light;
    }

    &:hover .arrow {
      bottom: 0;
      top: 0;
      margin-bottom: auto;
      margin-top: auto;
      right: -30px;
    }
  }
}

.arrow {
  position: absolute;
  bottom: -40px;
  right: -15px;
  transition: all 200ms ease-in-out;

  @include md {
    width: 1.5rem;
    height: 1.5rem;
  }
}
