@use "../../sass/abstracts/" as *;

.header {
  @include flex(center, center);

  @include md { 
    display: block;
    padding: $box_spacing_md; 
    min-height: $header_height_md;
  }
  @include xl { padding: $box_spacing_xl; } 

  nav { width: 100%; }
}

.nav {
  @include flex(center, center);
  @include md { display: block; } 
}

.navlink, .navlink_about {
  flex-basis: 50%;
  text-align: center;
  padding: 0.5rem 0;

  @include md {
    flex-basis: unset;
    text-align: unset;
    padding: unset;
    overflow: hidden;
    margin-bottom: 0.8rem;
    font-size: 2rem;
  }

  &:nth-child(2){
    border-left: 1px solid $grey_border;
    border-right: 1px solid $grey_border;

    @include md { border: unset; } 
  }

  a {
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    color: $black_light;
    transition: all 200ms ease-in-out;

    @include md { font-size: 2rem; }

    &:hover { color: $grey_light; }
  }

  &_about {
    font-weight: 600;
    font-size: 1rem;
    color: $black_light;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    @include md { font-size: 2rem; };

    &:nth-child(2){
      border-right: unset;
      @include md { border: unset; } 
    }

    &:hover { color: $grey_light; }
  }
}

