@use "../sass/abstracts/" as *;

.page {
  padding: $box_spacing_sm;

  @include md {
    padding: $box_spacing_md;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - ($box_spacing_md * 2));
  }

  @include xl {
    padding: $box_spacing_xl;
  }
}

.subtitle {
  color: $grey_light;
  margin-bottom: $box_spacing_md;
}

.introduction {
  min-height: 80vh;
  margin-bottom: 7rem;

  @include md { 
    padding-top: $box_spacing_md; 
    margin-bottom: unset;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: $box_spacing_md;

    @include md { font-size: 1.5rem; } 
  }
}

.summary {
  min-height: 80vh;
  margin-bottom: 7rem;

  @include md {
    padding-top: $box_spacing_md;
    margin-bottom: unset;
  }

  &_card_container {
    @include grid(repeat(9, 1fr), 2rem);
  }

  &_card {
    @include gridCol(auto, 9);
    margin-bottom: 3rem;
    @include md { 
      @include gridCol(auto, 3);
      margin-bottom: unset;
    }

    h6 {
      font-size: 1.2rem;
      margin-bottom: $box_spacing_md;
      @include md {
        font-size: 1.5rem;
      }
    }
  }
}

.card_list {
  margin-bottom: 1.5rem;
}

.list_title_container {
  @include flex(flex-start, center);

  p {
    font-weight: bold;
    background: $lightgrey_light;
  }
}

.list_year {
  color: $grey_light;
}

.list_keywords {
  margin-top: 0.4rem;
}

.playlists {
  min-height: 80vh;
  margin-bottom: 7rem;

  @include md {
    padding-top: $box_spacing_md;
    margin-bottom: unset;
  }
}


