@use "../../sass/abstracts/" as *;

.wrapper {
  width: 100%;
  margin-bottom: 5rem;
  
  @include md {
    min-height: 350px;
    margin-bottom: 3rem;
  }
}

.images_container {
  @include grid(repeat(9, 1fr), 1rem);
  gap: 1rem;
  width: 100%;

  &:hover .image { transform: rotate(0deg); }
  &:hover .video { transform: rotate(0deg); }
}

.video, .image {
  width: 100%;
  height: auto;
  @include gridCol(auto, 3);
  transition: all 300ms ease-in-out;
  border-radius: 3px;
}

// ADJUST ROTATE ANGLES MANUALLY //
.image.transform_1_2, .video.transform_1_2 {
  transform: rotate(-7deg);
}

.image.transform_2_3, .video.transform_2_3 {
  transform: rotate(10deg);
}

.image.transform_3_1, .video.transform_3_1 {
  transform: rotate(-30deg);
}

.image.transform_4_2, .video.transform_4_2 {
  transform: rotate(-10deg);
}

.details_container {
  @include grid(repeat(12, 1fr), 1rem);
  margin: 2rem 0;

  @include md { margin: $box_spacing_md 0; }
  @include xl { margin: $box_spacing_xl 0; }
  
}

.details_left {
  @include gridCol(auto, 12);
  @include flex(space-between, flex-start, column);

  @include md { @include gridCol(auto, 7); }
}

.details_right {
  @include gridCol(auto, 12);
  @include flex(flex-start, flex-start);
  flex-wrap: wrap;

  @include md {
    @include gridCol(auto, 5);
    @include flex(flex-end, center);
  }
}


.details_title {
  @include flex(flex-start, center);

  h2 {
    margin-right: 0.5rem;
    font-weight: 600;
  }
}

.keyword {
  font-size: 0.8rem;
  background: $lightgrey_light;
  padding: 0 0.25rem;
  margin: 0.25rem 0;
  margin-right: 0.5rem;

  @include xl {
    font-size: 1rem;
  }
}