@use "./sass/abstracts/" as *;

.main {
  @include flex(flex-start, flex-start, column);
  width: 100%;

  @include md {
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
  }
}

.footer {
  @include fixed($bottom: 0, $left: 0);
  width: 100%;
  border-top: 1px solid $black_light;
}

.footer_texts {
  margin-left: calc($sidebar_width_lg + $box_spacing_md);
  margin-right: $box_spacing_md;
  @include flex(space-between, center);
}