@use "../sass/abstracts/" as *;

.page {
  padding: $box_spacing_sm;

  @include md {
    padding: $box_spacing_md;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @include xl {
    padding: $box_spacing_xl;
  }
}
