@use "../../sass/abstracts/" as *;

.wrapper {
  @include md {
    width: $sidebar_width_md;
    max-width: $sidebar_width_md;
    height: 100vh;
    overflow: hidden;
    @include flex(flex-start, flex-start, column);
  }

  @include lg {
    width: $sidebar_width_lg;
    max-width: $sidebar_width_lg;
  }
}

// TOP CONTENT //
.logo {
  width: 100%;
  height: auto;
}

.content_container {
  padding: $box_spacing_sm;
  border-bottom: 1px solid $grey_border;
  min-height: 70vh;
  @include flex(space-evenly, center, column);

  @include md { 
    height: unset;
    display: block;
    flex: 1;
  }
  @include lg { padding: $box_spacing_md; }
  @include xl { padding: $box_spacing_xl; }
}

.content {
  margin: 3rem 0;

  &_about {
    position: relative;
    margin: $box_spacing_md 0;
    @include flex(center, center);
  }
}

.bold {
  font-weight: 600;
  background: $blue;
  display: inline-block;
  transform: rotate(355deg);
  color: $white_light;
  padding: $textbox_spacing_md;
}

.underline {
  font-style: italic;
  background: $yellow;
  font-weight: 600;
  display: inline-block;
  transform: rotate(3deg);
}

.details_wrapper {
  margin-bottom: 2rem;
  width: 100%;

  @include md { margin-bottom: 2rem; }

  &_about { 
    margin-top: 3rem; 
  }
}

.details_container {
  @include flex(flex-start, center);
  margin-bottom: 0.5rem;
  width: 100%;

  h6 { min-width: 70px; }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: $black_light;
    margin-right: 0.2rem;
    transition: all 200ms ease-in-out;
    font-size: 1.1rem;

    @include md { font-size: 1rem; }
    @include xl { font-size: 1.2rem; }

    &:hover { color: $grey_light; }
  }
}

.arrow {
  margin: 0 1rem;
}

// WORK PAGE //
.work_title_container {
  margin-bottom: $box_spacing_md;
  @include flex(flex-start, flex-start, column);
  width: 100%;

  @include md { display: block; }
}

.work_title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 0.5rem;
}

.work_type {
  color: $grey_light;
  mix-blend-mode: multiply;
}

.work_description_container {
  margin-bottom: $box_spacing_md;

  p {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: $box_spacing_md;
  }
}

.work_keywords_container {
  @include flex(flex-start, center);
  flex-wrap: wrap;
  margin-bottom: $box_spacing_md;
}

.work_keyword {
  font-size: 0.9rem;
  background: $lightgrey_light;
  mix-blend-mode: hard-light;
  padding: $textbox_spacing_md;
  margin: 0.25rem 0;
  margin-right: 0.5rem;

  @include md { font-size: 1rem; }
  @include xl { font-size: 1.2rem; }
}

// ABOUT PAGE //
.profile {
  width: 70%;
  max-width: 350px;
  height: auto;
  transform: rotate(-7deg);

  @include md {
    max-width: unset;
  }
}

.profile_description {
  max-width: 200px;
  @include absolute($bottom: -10px, $right: -5px);
  background-color: $blue;
  color: $white_light;
  padding: $textbox_spacing_md;
  transform: rotate(3deg);
}

.profile_cta {
  @include absolute($bottom: 85px, $left: -53px);
  transform: rotate(262deg);
  font-size: 0.9rem;
  background-color: $yellow;

  @include md {
    @include absolute($bottom: 85px, $left: -75px);
  }

  @include lg {
    @include absolute($bottom: 85px, $left: -53px);
  }
}