// COLOURS //
$white_light: #ffffff;
$black_light: #000000;
$white_dark: #ffffff;
$black_dark: #000000;

// BREAKPOINTS //
$breakpoints : (
  "mobile": 320px,
	"tablet": 600px,
	"laptop": 1024px,
	"desktop": 1200px,
  "desktop-lg": 1920px
);

// FONT FAMILY //
$helveticaNeue_light: '';
$helveticaNeue_roman: '';
$helveticaNeue_medium: '';
$helveticaNeue_heavy: '';

// FONT SIZES //
$fs_h2_mob: '';
$fs_h2_mob: '';
$fs_h2_mob: '';

$fs_h3_mob: '';
$fs_h3_mob: '';
$fs_h3_mob: '';